.wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
  height: 100vh;

  .auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 31px;
    width: 45%;
    margin: auto;

    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .forgot_password {
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 800;
        color: var(--persian-blue);
        padding-bottom: 9px;
        margin-top: -9px;
      }
    }

    .button {
      width: 100%;
    }
  }
  .companies {
    h3 {
      opacity: 0.4;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    .auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      margin: auto;
    }
    .companies {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 25px;
    }
  }
}
@media screen and (min-width: 413px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    .auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin: auto;
    }

    .companies {
      gap: 20px;
    }
  }
}

@media screen and (min-width: 858px) {
  .wrapper {
    .auth {
      width: 45%;
    }
  }
}
