.wrapper {
  display: flex;
  flex-direction: column;

  .navbar_hero {
    height: 100%;
    background-color: var(--persian-blue);
  }
  .hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-origin: border-box;
  }

  .pricecards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 37px;
    padding-bottom: 100px;
    padding-top: 100px;

    .pricecard {
      grid-column: span 4;
    }
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    gap: 80px;

    .pricecards {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 10px;
      padding-top: 0px;
      padding-bottom: 0;

      .pricecard {
        grid-column: span 12;
      }
    }

    .footer,
    .snippet {
      margin-top: -100px;
    }
  }
}

@media screen and (min-width: 551px) {
  .wrapper {
    gap: 0px;

    .pricecards {
      gap: 10px;

      .pricecard {
        grid-column: span 6;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .wrapper {
    gap: 80px;

    .pricecards {
      gap: 27px;
      padding-top: 0px;
      padding-bottom: 0;

      .pricecard {
        grid-column: span 4;
      }
    }

    .footer,
    .snippet {
      margin-top: -100px;
    }
  }
}
