.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  margin-right: 0;
  height: 100%;
  padding-top: 100px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    .heading {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;
      max-width: 80%;
      margin: auto;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      div {
        margin-right: -10px;
        margin-left: -10px;
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    margin-left: 0;
    height: 100%;
    .container {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;
      .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        max-width: 80%;
        margin: auto;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .captcha {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    margin: auto;
    margin-left: 0;
    height: 100%;
    .container {
      display: flex;
      flex-direction: column;
      gap: 22px;
      width: 100%;
      .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 10px;
        max-width: 80%;
        margin: auto;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .captcha {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }
}
