.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    img {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

@media screen and (min-width: 413px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    img {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}

@media screen and (min-width: 568px) {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    img {
      width: 100%;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }
  }
}
