.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 67px;
  width: 100%;
  padding-bottom: 96px;

  .logos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    place-content: center;
    grid-gap: 0px;

    img {
      transform: scale(0.8);
      grid-column: span 2;
    }
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    gap: 30px;
    .logos {
      img {
        grid-column: span 6;
      }
    }
  }
}
@media screen and (min-width: 413px) {
  .wrapper {
    .logos {
      img {
        grid-column: span 4;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    .logos {
      grid-gap: 20px;
      img {
        grid-column: span 3;
      }
    }
  }
}
