.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-origin: border-box;
  height: 775px;

  .container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 48px;
    padding-bottom: 226px;
    position: relative;
    z-index: 1;
    max-width: 45%;

    .hero_text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      max-width: 60%;

      h1,
      p {
        color: white;
        text-align: center;
      }
      p {
        max-width: 75%;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    padding-top: 80px;

    .container {
      display: flex;
      gap: 100px;
      .hero_text {
        max-width: 100%;

        h1 {
          font-size: 2rem;
          line-height: 40px;
        }
        p {
          max-width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 413px) {
  .wrapper {
    padding-top: 100px;
    .container {
      .hero_text {
        max-width: 100%;

        h1 {
          font-size: 2.5rem;
          line-height: 50px;
        }
        p {
          max-width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 701px) {
  .wrapper {
    .container {
      max-width: 100%;
      .hero_text {
        max-width: 90%;
      }
    }
  }
}
