img {
  object-fit: cover;
}

input,
button {
  border: none;
  outline: none;
}

input,
textarea {
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;
  border-radius: 4px;
  padding-inline: 20px;
  border: 1px solid var(--ship-cove);
}

input[type="checkbox"] {
  border: none;
  outline: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  font-size: 1rem;
  line-height: 24px;
  font-weight: 600;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
}
button:hover {
  background-color: #297a4a;
}
p,
span,
li {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
