.wrapper {
  display: flex;
  flex-direction: column;
  gap: 150px;
  height: 100vh;
  width: 100%;

  .auth {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 31px;
    max-width: 600px;
    margin: auto;

    .names {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      width: 100%;

      .fname {
        margin-right: -20px;
      }

      .lname {
        margin-left: -20px;
      }

      div {
        width: 100%;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
    }

    .captcha {
      margin-top: -10px;
    }
  }
  .companies {
    h3 {
      opacity: 0.4;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 75px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 150px;
    height: 100%;
    width: 100%;
    .auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 31px;
      max-width: 100%;
      margin: auto;

      .names {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;

        .fname {
          margin-right: -20px;
        }

        .lname {
          margin-left: -20px;
        }

        div {
          width: 100%;
        }
      }
      .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }

      .captcha {
        margin-top: -10px;
      }
    }
    .companies {
      h3 {
        opacity: 0.4;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 75px;
    }
  }
}
@media screen and (min-width: 413px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;

    .auth {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      max-width: 100%;
      margin: auto;
    }
  }
}

@media screen and (min-width: 858px) {
  .wrapper {
    .auth {
      max-width: 600px;
    }
  }
}
