.wrapper_container {
  background-color: var(--persian-blue);
  height: 100%;
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    color: white;
    padding-top: 99px;
    padding-bottom: 132px;
    background-color: var(--persian-blue);
  }
}
