.wrapper {
  display: flex;
  flex-direction: column;
  gap: 75px;

  .features {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 41px;

    place-items: center;
    place-content: center;
    width: 100%;

    .feature {
      grid-column: span 6;
      width: 100%;
    }
  }

  button {
    display: flex;
    align-self: center;
    width: max-content;
    padding-inline: 44px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    .features {
      grid-gap: 20px;

      .feature {
        grid-column: span 12;
      }
    }
  }
}

@media screen and (min-width: 601px) {
  .wrapper {
    .features {
      grid-gap: 30px;

      .feature {
        grid-column: span 6;
      }
    }
  }
}
