.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding: 20px;
  padding-bottom: 50px;
  background-color: var(--light-brown);
  border-radius: 12px;

  img {
    width: 70px;
    padding-left: 20px;
    padding-top: 40px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--light-brown);
    border-radius: 12px;

    img {
      width: 70px;
      padding-left: 20px;
      padding-top: 40px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding-left: 20px;
    }
  }
}
@media screen and (min-width: 413px) {
  .wrapper {
    gap: 30px;
    padding: 30px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;

    img {
      padding-left: 0px;
      padding-top: 0px;
    }

    .content {
      gap: 9px;
      padding-left: 0px;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
    padding-bottom: 50px;
    background-color: var(--light-brown);
    border-radius: 12px;

    img {
      width: 70px;
      padding-left: 20px;
      padding-top: 40px;
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: 11px;
      padding-left: 20px;
    }
  }
}
